@font-face{
    src: url("./snow-blue/SNOW\ BLUE.ttf");
    font-family: 'snowblue';
}
@font-face{
    src: url("./sweetheart/SWEETHEART.ttf");
    font-family: 'sweetheart';
}

@font-face{
    src: url("./south-east/South\ East.ttf");
    font-family: 'south-east';
}

@font-face{
    src: url("./Insignia.otf");
    font-family: 'sfu-insignia';
}